@import "custome.css";

#content{
  width: calc(100vw - 10px);
  height: 100vh;
  main{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
  }
}
::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.project {
  transition: transform 300ms;
  .card-title{
    color: var(--lightest-slate);
  }
}

.project:hover {
  transform: translateY(-3px);
  .card-title{
    color: var(--bs-info);
  }

}
.border-none{
  border:none;
}
