@import "custome.css";
@import "animation";

@font-face {
  font-family: "Fira Code";
  src: url('../assets/fonts/Fira_Code/static/FiraCode-Regular.ttf') ;
}

//@font-face {
//  font-family: "Archvo";
//  src: url('../assets/fonts/Archivo/Archivo-VariableFont_wdth,wght.ttf') ;
//}
@font-face {
  font-family: "Archvo";
  src: url('../assets/fonts/Archivo/static/Archivo/Archivo-Regular.ttf') ;
}


#content {


}

main {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  //width: calc(100vw - 10px);
  //height: 90vh;
  font-family: "Archvo", monospace;
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
  word-spacing: -0.09rem;
}

//p {
//  font-size: 1.2rem;
//}

@media screen and (min-width: 1300px) {

  .card-container{
    height: 400px !important;
  }
  main {
    width: 60vw !important;
  }
}
@media screen and (max-width: 1300px) {
  main {
    width: 78vw !important;
  }
  .h1-xxl {
    font-size: 3.5rem !important;
  }
  .card-container{
    height: 400px !important;
  }
}

@media screen and (max-width: 992px) {
  .card-container{
    height: max-content !important;
  }
  //#content {
  main {
    width: 70vw;
  }
  //}

  .h1-xxl {
    font-size: 2rem !important;
  }
  .font-xsm {
    font-size: 0.6rem !important;
  }

  .font-sm {
    font-size: 0.8rem !important;
  }

  .font-md {
    font-size: 1rem !important;
  }

  .font-lg {
    font-size: 1.2rem !important;
  }

  .font-xl {
    font-size: 1.4rem !important;
  }

  .font-xxl {
    font-size: 1.6rem !important;
  }

  .font-3xl {
    font-size: 2rem !important;
  }

  .font-4xl {
    font-size: 1.8rem !important;
  }
  .overlay {
    width: 100% !important;
  }

  .box {
    position: relative!important;
  }

}
@media screen and (max-width: 576px) {

  main {
    width: 90vw !important;
  }
  .h1-xxl {
    font-size: 1.9rem !important;
  }
  .font-xsm {
    font-size: 0.5rem !important;
  }

  .font-sm {
    font-size: 0.7rem !important;
  }

  .font-md {
    font-size: 0.9rem !important;
  }

  .font-lg {
    font-size: 1.1rem !important;
  }

  .font-xl {
    font-size: 1.3rem !important;
  }

  .font-xxl {
    font-size: 1.5rem !important;
  }

  .font-3xl {
    font-size: 1.6rem !important;
  }

  .font-4xl {
    font-size: 1.7rem !important;
  }
  .overlay {
    width: 100% !important;
  }

}



::-webkit-scrollbar {
  width: 5px;

}

::-webkit-scrollbar-track {
  background: var(--nevy);
}

::-webkit-scrollbar-thumb {
  background: var(--slate);
  border-radius: 5px;
}

//::-webkit-scrollbar-thumb:hover {
//  background: var(--green);
//}

.project {
  transition: transform 300ms;

  .card-title {
    color: var(--lightest-slate);
  }
}

.project:hover {
  transform: translateY(-3px);

  .card-title {
    color: var(--bs-info);
  }

}

.border-none {
  border: none;
}


.links {
  a, li {
    color: var(--light-slate);
    transition: transform 300ms;
    text-decoration: none;
  }
}

.anchor-color-white {
  color: var(--light-slate);
}

.anchor-color-white:hover {
  color: var(--green);

}

.links {
  a:hover, li:hover {
    color: var(--bs-info) !important;
    transform: translateY(-3px);
  }
}

.font-fira-code {
  font-family: "Fira Code", "SF Mono", "Fira Mono", monospace, monospace;
  font-size: medium;
}

.h1-xxl {
  font-size: clamp(3.9rem, 4.5rem, 5rem);
  font-weight: 700;
  word-spacing: 0.2rem;
}


.font-xsm {
  font-size: 0.8rem;
}

.font-sm {
  font-size: 1rem;
}

.font-md {
  font-size: 1.2rem;
}

.font-lg {
  font-size: 1.4rem;
}

.font-xl {
  font-size: 1.6rem;
}

.font-xxl {
  font-size: 1.6rem;
}

.font-3xl {
  font-size: 2.2rem;
}

.font-4xl {
  font-size: 3rem;
}

.box {
  position: absolute;
}

.overlay {
  z-index: 10;
  width: 45%
}
.top-10{
  top: 10%;
}

.right-0 {
  right: 0;
}





